<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <h1>URL Shortener</h1>

    <% if (locals.id) { %>
        <p>URL Deleted: http://localhost:8001/url/<%= id %>
        </p>
        <% } %>

            <div>
                <form method="POST" action="/url">
                    <label>Enter Your Original URL</label>
                    <input type="text" name="url" placeholder="https://example" />
                    <button type="submit">Generate</button>
                </form>
            </div>
            <div>
                <form method="get" action="/url/delete">
                    <label>Enter ShortID to delete</label>
                    <input type="text" name="ShortID" placeholder="23noif_d2" />
                    <button type="submit">Delete</button>
                </form>
            </div>
            <style>
                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                th,
                td {
                    padding: 8px;
                    /* Adjust the padding to create space */
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }
            </style>
            <div>
                <% if (locals.urls) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>S. No</th>
                                <th>ShortID</th>
                                <th>Redirect</th>
                                <th>Clicks</th>
                                <!-- <th>Delete</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <% urls.forEach((url, index)=> { %>
                                <tr>
                                    </form>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= url.shorturl %>
                                    </td>
                                    <td>
                                        <%= url.redirecturl %>
                                    </td>
                                    <td>
                                        <%= url.visithistory.length %>
                                    </td>
                                    <!-- <form method="delete" action="/url">
                                        <input type="hidden" name="shorturl" value=url.shorturl>
                                        <td>
                                            <button type="delete">delete</button>
                                        </td>
                                    </form> -->
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>

</body>

</html>